<div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">Registrarse
          </h1>
          <form>
            <div class="form-group">
              <label for="email">nombre</label>
              <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">apellidos</label>
              <input type="text" name="ename" id="ename" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">email</label>
              <input type="email" name="email" id="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">email</label>
              <input type="email" name="email" id="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" name="password" id="password" class="form-control">
            </div>
            
            <input type="text" value="Registrarse" class="btn btn-primary btn-block btn-lg">
  
  
          </form>
        </div>
      </div>
    </div>
  </div>
  
 