
<div class="row">
    <div class="col-md-12 mx-auto mt-5">
<div class="jumbotron">
    <h1 class="display-3">Sobre Ciudad Amiga</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, quo quos fuga consequatur animi nisi ipsum accusantium enim delectus
       non accusamus omnis aspernatur ex velit distinctio repellendus magnam porro atque.</p>
    <hr class="my-4">
    <h2 class="display-3">Mision</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quam quia sint, nostrum iste dolor corporis quasi assumenda eveniet similique error nesciunt in culpa, nihil modi rerum ea distinctio ipsum.
    Consequatur illum odio reiciendis explicabo molestias dolorum unde aliquam laudantium ipsa fugiat temporibus minima, sit modi error possimus quis saepe sequi id nulla suscipit voluptates voluptatibus inventore. Est, eos iure!
    Nulla in nobis ab iste excepturi qui laborum odio veniam, labore hic, eveniet et reiciendis unde, explicabo beatae cumque necessitatibus nam numquam. Est nulla dicta iste, quas deleniti magni corrupti!
    A eum sunt illum qui voluptas ducimus magnam culpa sequi eligendi natus voluptatum saepe maiores alias quidem, quasi repellendus enim. Incidunt qui doloribus, ratione veritatis nisi dolore eveniet laudantium saepe.
    Fugiat totam, vel ab labore enim corporis quas velit incidunt tempora? Excepturi corporis dolorem eum velit quas, obcaecati consectetur nulla sunt vel aperiam veritatis ipsa, aliquid saepe minus totam delectus.
    Iusto cumque recusandae qui. Asperiores temporibus, recusandae placeat eaque eveniet reiciendis neque cupiditate sapiente error quaerat incidunt, ullam fuga quam dignissimos minus architecto. Deleniti dolorum, odit explicabo odio in similique!
    Accusantium voluptate odit totam aliquam numq</p>
    
    <h2 class="display-3">Vision</h2>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque repellendus modi, aliquid nobis illo minus obcaecati ut necessitatibus neque molestiae blanditiis ipsam odio corrupti esse repellat, alias magni odit quibusdam!
    Neque necessitatibus est illo repellat fugiat odit nam ea labore molestias at natus saepe porro odio tempora distinctio, sed dignissimos provident quod quas totam sit deleniti! Aperiam voluptatum maxime delectus!
    Nisi sit vero porro ratione voluptatibus earum quis iure maxime qui, esse animi. Fugiat reiciendis harum distinctio, possimus soluta ipsum quisquam beatae fuga odit perspiciatis? Soluta ratione temporibus exercitationem consectetur.
    Unde velit nemo quisquam impedit aliquid delectus debitis libero, quos fugit molestias ab optio. Molestiae dolores alias quas in voluptatibus quam quaerat itaque sequi corporis, reprehenderit, recusandae incidunt nobis voluptatem!.</p>

   
  </div>
</div>

</div>